.main_body {
  display: flex;
}

.left_sidebar {
  width: 15%;
}

.right_sidebar {
  width: 85%;
}

.header{
  width: 100%;
}
#items {
  border-radius: 20px;
}

.cards {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}


.card {
  border-radius: 20px;
  padding: 1rem;
  height: 4rem;
}

.item1{
  height: 300px;
  grid-column: 1 / span 2;
}
.item2 {
  height: 300px;
}
.item3, .item4, .item5{
  height: 150px;
}

.item6{
  height: 450px;
}

.item7{
  height: 450px;
  grid-column: 2 / span 2;
}

.item8{
  height: 500px;
  grid-column: 1 / span 2;
}

.item9{
  height: 450px;
}
.item10{
  height: 250px;
}
.item11{
  height: 220px;
}
.item12{
  height: 250px;
}
.item12_1{
  border-radius: 20px;
  height: 100px;
  background-color: green;
}
.item12_2{
  border-radius: 20px;
  height: 100px;
  background-color: green;
}
@media (min-width: 600px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .cards { grid-template-columns: repeat(3, 1fr); }
}

@media (max-width: 900px) {
  .cards { grid-template-columns: 1fr; }
  .cards > .card{
    grid-column: unset;
  }
  /* .left_sidebar{
    display: hidden;
  } */
}